* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #da4bd2;
    --accent: #1b85af;
    --text: #000000;
    --bg-dark: #575755;
    --bg-light: #cfcfcf;
}

body {
    color: var(--text);    
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1.6em;
}

header {
    background-color: var(--bg-dark);
}

header .navbar__link{
    color: var(--bg-light);
}

header .navbar__menu{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}